* {
    box-sizing: border-box;
}

.flex {
    font-family: Open Sans Condensed, Arial, Helvetica, sans-serif;
    height: 50px;
    text-decoration: solid;
    display: flex;
    position: relative;
    padding: 5px;
    background: linear-gradient(#4285F4,#DB4437,#F4B400,#0F9D58
);    
}

@media (max-width: 430px) {
  .flex {
    flex-direction: column;
  }
}

.btn {
    padding: 10px 15px;
    display: inline-flex;
    width: auto;
    height: auto;
    text-transform: uppercase;
    text-decoration: none;
}

.btn_blue{
    background-color: #1590ff;
    color: #ffffff;
    height: 50px;
}

.btn_blue:hover{
    background-color: #ffffff;
    color: #1590ff;
}

.logoEvolution{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-basis: 60%;
}

.imgLogo{
    width: 40%;
    height: auto;
}

.card {
                width: 25%;
                background-color: #ffffff;
                border-radius: 8px;
                padding: 5px;
                text-align: center;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                margin-bottom: 5px;
               }

            
            @media (max-width: 768px) {
                .card {
                    width: 48%;
                }
                .developers {
                    width: 48%;
                }
                h1 {
                    margin-top: 200px;
                }
                .cab {
                    margin-top: 200px;
                }
            }

            
            @media (max-width: 430px) {
                .card {
                    width: 100%;
                }
                .developers {
                    width: 100%;
                }
                 h1 {
                    margin-top: 200px;
                }
                .cab {
                    margin-top: 200px;
                }
            }
.cardConteiner {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
            padding: 5px;
}

.card img {
            height: 150px;
            width: 200px;
            margin-top: 15px;
            margin-right: 15px;
            border-radius: 4px;
            align-items: center;
        }

.card img:hover{
    width: 300px;
    height: 300px;
}

.cardT{
    font-family: Open sans Condensed; 
}

dt, dl, dd, h2, h3, p {
    font-family: Open Sans Condensed, Arial, Helvetica, sans-serif;
}

.textHome{
    
    display: flex;
     flex-wrap: wrap;
}

.box {
    width: auto;
    font-family: Open sans Condensed;
    text-align: justify;
    padding-left: 5%;
    flex: 1 1 300px; /* Cresce, encolhe, base de 300px */
    margin: 10px;
}
.box1 {
    width: auto;
    font-family: Open sans Condensed;
    text-align: center;
    padding-left: 5%;
    flex: 1 1 300px; /* Cresce, encolhe, base de 300px */
    margin: 10px;
}

dt {
    align-items: center;
    font-weight: 300;
}

li {
    list-style-type: none;
}
.developersContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 5px;
}
.developers {
    width: 25%;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(247, 247, 248);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  
    border-radius: 8px;
}

.imgDev {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    flex-direction: row;                   
    margin-top: 10px;
}

.logoTerc {
    width: 50px;
    height: auto;
    border-radius: 8px;
    display: flex;
    gap: 20px; 
    justify-content: space-between;
}

.txtLogo {
    width: 90%;
    font-family: Open sans Condensed;
    text-align: justify;
    height: 50px;
    text-decoration: solid;
    display: flex;
    position: relative;
    padding: 5px;
}




